
body {
	background-color: palegreen;
}

h1 {
	color: white;
	font-size: 100px;
	border-color: black;
	border-style: dotted;
	border-width: 10px;
	text-align: center;
	margin: 25px;
	padding: 30px;

}

p { 
	text-align: center;

}