body { 
	background-color: #5E0029; }

nav { text-align: center;

}

h1 { 
	font-family: "Georgia", serif; 
	font-size: 45px;
	color: #C8E5DB;
	text-align: center;
	}

h2, p {
	font-family: Arial, sans-serif;
	color: #C8E5DB;
	text-align: center;
	font-weight: normal;
	} 