body { 
	background-color: #5E0029; }

h1 { 
	font-family: "Arial", sans-serif; 
	font-size: 45px;
	font-weight: normal; 
	color: #C8E5DB;
	}

h2, p {
	font-family: Arial, sans-serif;
	color: #C8E5DB;
	} 