
header, main {
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

nav{
	background-color:#E8C66A;
	border: 1px black solid;
    padding: 20px;
}

aside{
	background-color:#FFC675;
	border: 1px black solid;
    padding: 20px;
}

article{
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}

div, section {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}


/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Volkhov:700');


*{margin:0;
padding:0;
box-sizing:border-box;}

body {
	line-height: 1.5;
	color:#001319;
	font-size: 18px;
	font-family: 'Open Sans', 'Helvetica', sans-serif;

}


/*.hero-image{
	background-image: url(../images/FreeSnacks.jpg);
	background-repeat: no-repeat;
  	background-position: right top;
  	background-size: 100% auto;
	text-align: center;
 	/*height: 0;*/
/* 	padding-bottom: 100%;*/
/* 	overflow: hidden;
 	height: 50vw;
 	/*background-color: gray;*/
 	/*display: flex;
 	justify-content: space-between;
 	flex-direction: column;
 	align-items: center;
 	max-height: 1000px;
 	padding: 20px;*/
}


/*nav{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	background: black;

}

nav button{
	font-size:0.5em;
	text-align: center;
	padding: 5px;
}

nav a{
	float: right;
	text-decoration: none;
	color: #DFE8E8;
}
h1{
	color: #125b73;
	font-family: 'Ribeye', 'Georgia', serif;
	font-size: 4em;
	text-align: center;
	line-height: 1.15;

}

.hero-image button{
	border-radius: 50%;
	text-align: center;
	font-size: .55em;
	margin: 1em;
	height: 50px;
	width: 50px;
	font-weight: 400;
	transition: font-weight 400ms;

}

button:hover
{
	background: rgba(18, 91, 115, .5);
	font-weight: 800;
	color: #DFE8E8;

}

img{
	width: 100%;
}


section {
	margin: 2em auto;	
	background: #DFE8E8;
	padding: 1.5em;

}

.about-us {
	background-color: rgba(21, 146, 117, .5) ;
	padding: 2.75em 12em;
	width: 100%;
	text-align:justify;
	margin: 0;
}

h2{
	padding: 10px;
	font-size: 2em;
	font-family: 'Ribeye', 'Georgia', serif;
	text-align: center;

}

ul{
	padding-left: 1.5em;
	padding-bottom: 1em;
}

p{
	
	padding: 0.5em;
	font-size: 1em;
}

a{ 
	color: rgb(21, 146, 117);
	text-decoration: none;
	
}


.social a{
	padding: 1em;
}

.shows{
	float: left;
	width: 33.3%;
	height: 350px;
	margin: 0 .5em;
}

.social{
	float: left;
	width: 33.3%;
	height: 350px;
	margin: 0 .5em;
}

.past{
	float: left;
	width: 33.3%;
	height: 350px;
	margin: 0 .5em;
}

footer{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	font-weight: normal;
	text-align: center;
	clear: left;
}*/