*{margin:0;
padding:0;
box-sizing:border-box;}

body {background:#8A8993;}

#above-the-fold{
	background-color: #101012;
	text-align: center;
	/*background:url("https://www.flickr.com/photos/79317884@N00/46117974161/in/album-72157673918854497/");*/

}

#slogan{
	color: #FFF;
	font-style: italic;
}

h1{
	color: #FFF;
	font-family: Georgia, serif;
	font-size: 40px;

}