*{margin:0;
padding:0;
box-sizing:border-box;}

body {
	font-family: Helvetica, sans-serif;
	
}

.hero-image{
	background: url(images/freesnacks.jpg);
	text-align: center;

}

#slogan{
	color: #FFF;
	font-style: italic;
}

h1{
	color: #FFF;
	font-family: Georgia, serif;
	font-size: 40px;

}