*{margin:0;
padding:0;
box-sizing:border-box;}

body {
	font-family: Helvetica, sans-serif;
	padding: 15px;
	line-height: 1.15;
	color:#001319;

}


/*.hero-image{*/
	/*background: url(images/FreeSnacks.jpg);*/
	/*background-repeat: no-repeat;*/
  	/*background-position: right top;*/
  	/*background-attachment: fixed;*/
  	/*background-size: auto;*/
	/*text-align: center;*/
 
/*}*/


header{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	font-weight: bold;

}

header a{
	float: right;
	text-decoration: none;
	color: black;
}
h1{
	color: #125b73;
	font-family: Georgia, serif;
	font-size: 100px;
	text-align: center;

}

#slogan{
	color: black;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

div button{
	padding: 30px 20px 30px 20px;
	border-radius: 50%;
	text-align: center;


}

img{
	width: 100%;
}

section {
	margin-top: 30px;
	margin-bottom: 15px;
	margin-left: 0px
	margin-right: 0px;
	background: #DFE8E8;
	padding: 10px;
}
.about-us{
	background: rgba(21, 146, 117, .5) ;
}
h2{
	padding: 10px;
	font-size: 30px;

}

ul{
	padding-left: 30px;
}

p{
	
	padding: 8px;
}

a{ 
	color: rgb(21, 146, 117);
	text-decoration: none;
}


footer{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

